<!-- start custom head snippets -->
<!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css"> ORIGINAL -->
<!-- Google Fonts Noto Family -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap" rel="stylesheet">

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
